.home {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  gap: 30px;

  h1.title {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .container {
    margin: 0 150px;
  }
}
