// https://stackoverflow.com/questions/41803496/hide-element-on-hover-of-another-element
// https://stackoverflow.com/questions/41803496/hide-element-on-hover-of-another-element

.showHide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  align-items: center;

  .btn {
    cursor: pointer;
  }
  // .btn:hover + label {
  //   opacity: 1;
  // }

  // label {
  //   opacity: 0;
  // }

  .nextSib {
    transition: all 1s ease;
  }

  .btn:hover ~ label {
    background-color: aqua;
  }
  .btn:hover ~ .nextSib {
    background-color: teal;
    color: white;
  }
}
